<div class="carriages_wrapper container-xl">
  <TTP-button
    (click)="createCarriage()"
    [type]="'button'"
    [width]="'10vw'"
    [buttonText]="'Create'"
    class="carriages_create-button"
  ></TTP-button>
  @if (create()) {
    <mat-form-field>
      <mat-label>Rows</mat-label>
      <mat-select [(ngModel)]="selectedRowsValue" name="possibleRows">
        @for (possibleRow of possibleRows; track possibleRow) {
          <mat-option [value]="possibleRow.value">{{ possibleRow.viewValue }}</mat-option>
        }
      </mat-select></mat-form-field
    >
    <mat-form-field>
      <mat-label>Left Seats</mat-label>
      <mat-select>
        @for (possibleLeftSeat of possibleLeftSeats; track possibleLeftSeat) {
          <mat-option [value]="possibleLeftSeat.value">{{ possibleLeftSeat.viewValue }}</mat-option>
        }
      </mat-select></mat-form-field
    >
    <mat-form-field>
      <mat-label>Right Seats</mat-label>
      <mat-select>
        @for (possibleRightSeat of possibleRightSeats; track possibleRightSeat) {
          <mat-option [value]="possibleRightSeat.value">{{ possibleRightSeat.viewValue }}</mat-option>
        }
      </mat-select></mat-form-field
    >
    <TTP-button
      (click)="postCarriages()"
      [type]="'submit'"
      [width]="'10vw'"
      [buttonText]="'Save'"
      class="carriages_save-button"
    ></TTP-button>
    <!-- <form class="carriages_carriage-shape" [formGroup]="carriageForm"></form> -->
  }
  <div class="carriages_carriages-wrapper">
    @for (carriageItem of carriagesData; track carriageItem.name) {
      <div class="carriages_shape-params">
        <div class="carriages_carriage-params">
          <div class="carriages_name">
            <span class="carriages_coloured-text">{{ carriageItem.name }}</span>
          </div>
          <div class="carriages_total-seats">
            Seats: {{ carriageItem.rows * carriageItem.leftSeats + carriageItem.rows * carriageItem.rightSeats }}
          </div>
          <div class="carriages_rows">Rows: {{ carriageItem.rows }}</div>
          <div class="carriages_left-side">Left seats: {{ carriageItem.leftSeats }}</div>
          <div class="carriages_right-side">Right seats: {{ carriageItem.rightSeats }}</div>
        </div>
        <form [formGroup]="retrievedCarriagesForm" class="carriages_carriage-wrapper">
          <TTP-button
            [type]="'button'"
            [width]="'10vw'"
            [buttonText]="'Update'"
            class="carriages_update-button"
          ></TTP-button>
          <div class="carriages_carriage-shape">
            @for (row of [].constructor(carriageItem.rows); track index; let index = $index) {
              @if (carriageItem.name) {
                <TTP-carriage-row
                  class="carriages_carriage-row"
                  [rowNumber]="index"
                  [leftSeatCount]="carriageItem.leftSeats"
                  [rightSeatCount]="carriageItem.rightSeats"
                  [carriageName]="carriageItem.name"
                ></TTP-carriage-row>
              }
            }
          </div>
        </form>
      </div>
    }
  </div>
  @if (update()) {
    <form>
      @for (testCarriage of testCarriagesArray; track testCarriage) {
        <mat-checkbox></mat-checkbox>
      }
    </form>
  }
  <!-- @for (testCarriage of testCarriagesArray; track testCarriage) {
    <div class="carriages_name">{{ testCarriage.name }}</div>
    <div class="carriages_total-seats">
      {{ testCarriage.rows * testCarriage.leftSeats + testCarriage.rows * testCarriage.rightSeats }}
    </div>
    <div class="carriages_rows">{{ testCarriage.rows }} rows</div>
    <div class="carriages_left-side">{{ testCarriage.leftSeats }} left seats</div>
    <div class="carriages_right-side">{{ testCarriage.rightSeats }} right seats</div>
    <form [formGroup]="carriageForm">
      <div class="carriages_seats"></div>
      <TTP-button (click)="fetch()" [type]="'submit'" [width]="'10vw'" [buttonText]="'Save'"></TTP-button>
      <TTP-button (click)="fetch()" [type]="'button'" [width]="'10vw'" [buttonText]="'Update'"></TTP-button>
      <mat-checkbox class="carriages_seat" [checked]></mat-checkbox>
    </form>
  } -->
</div>
