<div class="carriages_wrapper">
  <TTP-button (click)="createCarriage()" [type]="'button'" [width]="'10vw'" [buttonText]="'Create'"></TTP-button>
  @if (create()) {
    <mat-label>Rows</mat-label>
    <mat-select>
      @for (possibleRow of possibleRows; track possibleRow) {
        <mat-option [value]="possibleRow.value">{{ possibleRow.viewValue }}</mat-option>
      }
    </mat-select>
    <mat-label>Left Seats</mat-label>
    <mat-select>
      @for (possibleLeftSeat of possibleLeftSeats; track possibleLeftSeat) {
        <mat-option [value]="possibleLeftSeat.value">{{ possibleLeftSeat.viewValue }}</mat-option>
      }
    </mat-select>
    <mat-label>Right Seats</mat-label>
    <mat-select>
      @for (possibleRightSeat of possibleRightSeats; track possibleRightSeat) {
        <mat-option [value]="possibleRightSeat.value">{{ possibleRightSeat.viewValue }}</mat-option>
      }
    </mat-select>
    <!-- <form class="carriages_carriage-shape" [formGroup]="carriageForm"></form> -->
  }
  @if (update()) {
    <form>
      @for (testCarriage of testCarriagesArray; track testCarriage) {
        <mat-checkbox></mat-checkbox>
      }
    </form>
  }
  <!-- @for (testCarriage of testCarriagesArray; track testCarriage) {
    <div class="carriages_name">{{ testCarriage.name }}</div>
    <div class="carriages_total-seats">
      {{ testCarriage.rows * testCarriage.leftSeats + testCarriage.rows * testCarriage.rightSeats }}
    </div>
    <div class="carriages_rows">{{ testCarriage.rows }} rows</div>
    <div class="carriages_left-side">{{ testCarriage.leftSeats }} left seats</div>
    <div class="carriages_right-side">{{ testCarriage.rightSeats }} right seats</div>
    <form [formGroup]="carriageForm">
      <div class="carriages_seats"></div>
      <TTP-button (click)="fetch()" [type]="'submit'" [width]="'10vw'" [buttonText]="'Save'"></TTP-button>
      <TTP-button (click)="fetch()" [type]="'button'" [width]="'10vw'" [buttonText]="'Update'"></TTP-button>
      <mat-checkbox class="carriages_seat" [checked]></mat-checkbox>
    </form>
  } -->
</div>
