@import '../../../../../../styles';

.carriages {
  &_wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
  }

  &_create-button {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &_save-button {
    display: flex;
    align-self: flex-end;

    margin-top: 10px;
    margin-bottom: 10px;
  }

  &_update-button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &_carriages-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &_carriage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;

    &.ticket {
      margin-bottom: 20px;
    }
  }

  &_carriage-row {
    z-index: 10;
    display: flex;
  }

  &_carriage-shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 254px;
    height: 640px;

    // border: 1px solid $light-blue;
    padding: 10px;

    background-image: url('../../../../../../../public/ticket_ttp_vertical_opacity.png');
    background-size: contain;
    border-radius: 5px;
  }

  &_shape-params {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    height: 850px;

    border: 1px solid $light-blue;
    border-radius: 5px;
  }

  &_coloured-text {
    font-weight: 800;
    color: $deep-blue;
  }

  &_name {
    margin-top: 5px;
  }

  &_carriage-shape-create {
    transform: rotate(90deg);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 640px;
    height: 254px;
    padding: 10px;

    background-image: url('../../../../../../../public/ticket_ttp_horizontal_opacity.png');
    background-size: contain;
    border-radius: 5px;
  }

  &_carriage-shape-create-ticket {
    transform: rotate(90deg);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 640px;
    height: 254px;
    padding: 10px;
  }

  &_ticket-image {
    position: absolute;
    z-index: 1;
    transform: rotate(-90deg) translate(50%);

    display: block;

    width: 640px;
    height: 254px;

    background-image: url('../../../../../../../public/ticket_ttp_horizontal_opacity.png');
    background-size: contain;
    border-radius: 5px;
  }

  &_carriage-row-create-ticket {
    z-index: 10;
    transform: translateY(50%);
    // position: absolute;
    display: flex;
  }

  &_line-dividing {
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    background-color: $deep-blue;
  }
}

ttp-carriage-row {
  display: flex;
}

@media screen and (width >= 300px) and (width <= 660px) {
  .carriages {
    &_carriage-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;
    }
  }
}

@media screen and (width >= 659.98px) and (width <= 900px) {
  .carriages {
    &_carriage-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40vw;
    }
  }
}

@media screen and (width >= 899.98px) and (width <= 1300px) {
  .carriages {
    &_carriage-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 28vw;
    }
  }
}
