<div class="ticket_wrapper">
  <div class="ticket_body">
    <div class="ticket_stations">
      <div class="ticket_trip-station start">
        <span class="text-coloured-bold">{{ stationStart }}</span
        ><span class="text">Departure station</span>
      </div>
      <div class="ticket_trip-station end">
        <span class="text-coloured-bold">{{ stationEnd }}</span
        ><span class="text">Arrival station</span>
      </div>
    </div>
    <div class="ticket_time">
      <div class="ticket_trip-time start">
        <span class="text-coloured-bold"
          >{{ departureTime | date: 'MMMM dd' : '+0000' }} {{ departureTime | date: 'shortTime' : '+0000' }}</span
        ><span class="text">Departure time</span>
      </div>
      <div class="ticket_trip-time end">
        <span class="text-coloured-bold"
          >{{ arrivalTime | date: 'MMMM dd' : '+0000' }} {{ arrivalTime | date: 'shortTime' : '+0000' }}</span
        ><span class="text">Arrival time</span>
      </div>
    </div>
    <div class="ticket_carriage-details">
      <div class="ticket_carriage-detail type">
        <span class="text start">Carriage type: </span><span class="text-bold end">carriage type</span>
      </div>
      <div class="ticket_carriage-detail carriage-number">
        <span class="text start">Carriage number: </span><span class="text-bold end">carriage number</span>
      </div>
      <div class="ticket_carriage-detail seat-number">
        <span class="text start">Seat number: </span><span class="text-bold end">{{ seatId }}</span>
      </div>
    </div>
    <div class="ticket_bottom">
      <div class="ticket_duration-price">
        <div class="ticket_trip-duration">
          <span class="text">Trip duration: </span><span class="text-coloured">{{ hours }}h {{ minutes }}m</span>
        </div>
        <div class="ticket_ticket-price">
          <span class="text">Ticket price: </span><span class="text-coloured">500$</span>
        </div>
        <div class="ticket_ticket-status">
          <span class="text">Ticket status: </span>
          @if (status === 'rejected' || status === 'canceled') {
            <span class="text-coloured red">{{ status }}</span>
          } @else {
            <span class="text-coloured">{{ status }}</span>
          }
        </div>
      </div>
      <div class="ticket_stamp">
        <span class="ticket_stamp-pic"></span>
        <p class="ticket_company-name text-coloured-bold">TTP</p>
      </div>
    </div>
    <div class="ticket_bottom">
      <div class="ticket_user-credentials">
        <div class="ticket_id">Order id: {{ id }}</div>
        <div class="ticket_customer">User id: {{ userId }}</div>
      </div>
      @if (status === 'rejected' || status === 'canceled') {
        <TTP-button
          (click)="cancelOrder(id)"
          [type]="'button'"
          [width]="'10vw'"
          [buttonText]="'Cancel'"
          [style.align-self]="'flex-end'"
          [style.display]="'none'"
        ></TTP-button>
      } @else {
        <TTP-button
          (click)="cancelOrder(id)"
          [type]="'button'"
          [width]="'10vw'"
          [buttonText]="'Cancel'"
          [style.align-self]="'flex-end'"
        ></TTP-button>
      }
    </div>
  </div>
</div>
