<div mat-dialog-title class="password-popup_title">Change Password</div>
<mat-dialog-content>
  <button (click)="closePasswordPopup()" [mat-dialog-close]="popupPassword()">
    <mat-icon>cross</mat-icon>
  </button>
  <div class="password-popup_info"></div>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="popupPassword" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="closePasswordPopup()" [mat-dialog-close]="popupPassword()">Save</button>
</mat-dialog-actions>
