<div mat-dialog-title class="password-popup_title">Change Password</div>
<mat-dialog-content>
  <div class="password-popup_info"></div>
  <mat-form-field appearance="outline">
    <input
      matInput
      [(ngModel)]="popupPassword"
      class="password-popup_input"
      [value]="changePasswordForm.controls.password.value | trim"
    />
    <mat-hint>New Password</mat-hint>
  </mat-form-field>
  @if (changePasswordForm.controls['password'].hasError('required')) {
    <mat-error class="sign-up_input-error">Required</mat-error>
  }
  @if (changePasswordForm.controls['password'].hasError('minlength')) {
    <mat-error class="sign-up_input-error">Should be 8 symbols at least</mat-error>
  }
</mat-dialog-content>
<mat-dialog-actions class="password-popup_buttons">
  <button mat-icon-button (click)="closePasswordPopup()" [mat-dialog-close]="popupPassword()">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button (click)="saveAndClosePasswordPopup()" [mat-dialog-close]="popupPassword()">
    <mat-icon>save</mat-icon>
  </button>
</mat-dialog-actions>
