@import '../../../../../../styles';

.password-popup {
  &_title {
    user-select: none;
    color: $deep-blue;
  }

  &_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
