.trip-details {
  &_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  &_back-button {
    margin: 20px 0;
  }

  &_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    min-width: 280px;
    max-width: 600px;
  }

  &_detail-stations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &_detail-times {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &_detail-station {
    margin-bottom: 0;

    &.start {
      align-items: flex-start;
    }

    &.end {
      align-items: flex-end;
    }
  }

  &_detail-time {
    margin-bottom: 0;

    &.start {
      align-items: flex-start;
    }

    &.end {
      align-items: flex-end;
    }
  }

  &_route-details {
    display: flex;
    align-items: center;
  }

  &_rideid {
    margin-right: 20px;
    margin-bottom: 0;
  }

  &_route-button {
    margin: 20px 0;
  }

  &_seat-indications {
    display: flex;
    align-items: center;
  }

  &_seat-info {
    display: flex;
    align-items: center;
  }

  &_seat-label {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 25px;
    margin-right: 10px;

    border-radius: 5px;
  }

  &_seat-description {
    margin-right: 30px;
    margin-bottom: 0;
  }

  &_buy-button {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

p {
  margin-bottom: unset;
}

@media screen and (width >= 300px) and (width <= 639.98px) {
  .trip-details {
    &_seat-indications {
      flex-direction: column;
    }

    &_seat-info {
      margin-bottom: 20px;
    }
  }
}
