@import '../../../../../../../styles';

.carriages {
  &_seat {
    display: flex;
    place-content: center center;

    aspect-ratio: 1 / 1;
    width: 20px;
    margin: 2px;

    font-weight: 800;
  }

  &_seat-label {
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 25px;
    margin: 0 2px;

    font-size: 0.8rem;
    color: black;

    background-color: $light-blue;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &_seat-checkbox {
    padding: unset;
    opacity: 0;
  }
}
