@if (isAdminRole && isCarriagesPage()) {
  <mat-label
    [attr.for]="seatValue + carriageNameValue"
    class="carriages_seat-label"
    [style.background]="'grey'"
    [style.color]="'white'"
    [style.cursor]="'auto'"
    [style.pointer-events]="'none'"
    [style.user-select]="'none'"
    >{{ seatValue }}
    <mat-checkbox
      (change)="inspectCheckboxValue($event)"
      id="{{ seatValue + carriageNameValue }}"
      [hidden]="true"
      class="carriages_seat-checkbox"
      [value]="seatValue"
      [disabled]="true"
      #seatCheckbox
      [checked]="check()"
    ></mat-checkbox>
  </mat-label>
} @else {
  <mat-label
    (click)="clickCheckbox()"
    [attr.for]="seatValue + carriageNameValue"
    class="carriages_seat-label"
    [style.background]="check() ? 'oklch(49.71% 0.165 259.85deg)' : 'oklch(71.74% 0.19 48.65deg)'"
    [style.background]="
      seatValue === selectedSeat() && carriageNameValue === selectedCarriage()
        ? 'oklch(71.74% 0.19 48.65deg)'
        : 'oklch(49.71% 0.165 259.85deg)'
    "
    [style.color]="'white'"
    >{{ seatValue }}
    <mat-checkbox
      (change)="inspectCheckboxValue($event)"
      id="{{ seatValue + carriageNameValue }}"
      [hidden]="true"
      class="carriages_seat-checkbox"
      [value]="seatValue"
      [disabled]="false"
      #seatCheckbox
      [checked]="check()"
    ></mat-checkbox>
  </mat-label>
}
