<div class="modal">
  <h2 mat-dialog-title>Change Password</h2>
  <mat-dialog-content>
    <form [formGroup]="changePasswordForm">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" placeholder="New Password" />
        <mat-error *ngIf="newPassword?.hasError('required')"> Password is required </mat-error>
        <mat-error *ngIf="newPassword?.hasError('minlength')"> Password must be at least 8 characters long </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="save()" [disabled]="changePasswordForm.invalid">Save</button>
    <button mat-button (click)="close()">Cancel</button>
  </mat-dialog-actions>
</div>
