.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 400px;
  margin: auto;
  padding: 20px;
}

mat-dialog-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

button {
  cursor: pointer;

  padding: 10px 20px;

  color: #fff;

  background-color: #007bff;
  border: none;
  border-radius: 4px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &.mat-button {
    color: #007bff;
    background-color: transparent;

    &:hover {
      background-color: rgb(0 123 255 / 10%);
    }
  }
}
