<div class="routes_wrapper container-xl">
  <TTP-button [type]="'button'" [width]="'10vw'" [buttonText]="'Create'" class="routes_create-button"></TTP-button>

  @if (routes.length > 0) {
    <div class="routes_data">
      @for (route of routes; track route) {
        <div class="routes_data-card">
          <h4 class="routes_title">Route {{ route.id }}</h4>
          <p><strong>Cities:</strong> {{ route.path.join(' - ') }}</p>
          <p><strong>Carriage Types:</strong> {{ route.carriages.join(', ') }}</p>
          <button class="routes_delete-btn" mat-icon-button (click)="openDeleteModal(route.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
  }
</div>
