<div class="orders container-xl">
  @if (isAdminRole) {
    @for (order of orders; track order.id) {
      <TTP-ticket
        [stationStart]="order.stationStart"
        [stationEnd]="order.stationEnd"
        [seatId]="order.seatId"
        [status]="order.status"
        [id]="order.id"
      ></TTP-ticket>
    }
    <div class="orders_users-list">
      <p class="orders_users-title">List of users:</p>
      @for (usersOrder of usersOrders; track usersOrder.id) {
        <div class="orders_users-details">
          <div class="orders_user-detail">{{ usersOrder.id }}</div>
          <div class="orders_user-detail">{{ usersOrder.name }}</div>
          <div class="orders_user-detail">{{ usersOrder.email }}</div>
          <div class="orders_user-detail">{{ usersOrder.role }}</div>
        </div>
      }
    </div>
  }
  @if (isAuthenticated && !isAdminRole) {
    @for (order of orders; track order.id) {
      <TTP-ticket
        [stationStart]="order.stationStart"
        [stationEnd]="order.stationEnd"
        [seatId]="order.seatId"
        [status]="order.status"
        [id]="order.id"
      ></TTP-ticket>
    }
  }
</div>
