<div class="orders container-xl">
  @if (!roleService.isAdminRole) {
    <p class="orders_orders-title">List of orders:</p>
    @for (order of orders; track order.id) {
      <TTP-ticket
        [stationStart]="order.stationStart"
        [stationEnd]="order.stationEnd"
        [seatId]="order.seatId"
        [status]="order.status"
        [id]="order.id"
        [userId]="order.userId"
      ></TTP-ticket>
    }
  }
  @if (roleService.isAdminRole) {
    <TTP-user-orders></TTP-user-orders>
    <p class="orders_orders-title">List of orders:</p>
    @for (userOrder of usersOrders; track userOrder.id; let index = $index) {
      <TTP-ticket
        [stationStart]="userOrder.stationStart"
        [stationEnd]="userOrder.stationEnd"
        [seatId]="userOrder.seatId"
        [status]="userOrder.status"
        [id]="userOrder.id"
        [userId]="userOrder.userId"
        [departureTime]="ordersStartSegments[index].time[0]"
        [arrivalTime]="ordersStartSegments[index].time[1]"
      ></TTP-ticket>
    }
  }
</div>
