@import '../../../../../styles';

.footer {
  width: 100%;
  background-color: $deep-blue;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_rss-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 5vw;
    min-width: 40px;
    max-width: 70px;

    font-size: 1.8rem;
    font-weight: 800;
    color: $deep-blue;
    text-decoration: none;

    background-color: $light-blue;
    border-radius: 50%;
  }

  &_githubs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_github-icon {
    display: block;

    aspect-ratio: 1 / 1;
    width: 5vw;
    min-width: 40px;
    max-width: 70px;

    background-color: $deep-blue;
    background-image: url('../../../../../../public/github.png');
    background-size: contain;
  }
}
