@import '../../../../../styles';

.footer {
  flex-shrink: 0;
  width: 100%;
  margin-top: 20px;
  background-color: $deep-blue;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_rss-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 5vw;
    min-width: 40px;
    max-width: 70px;

    font-size: 1.6rem;
    font-weight: 800;
    color: $deep-blue;
    text-decoration: none;

    background-color: $light-blue;
    border-radius: 50%;

    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: white;
    }
  }

  &_githubs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_github-icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    aspect-ratio: 1 / 1;
    width: 5vw;
    min-width: 40px;
    max-width: 70px;

    background-color: $light-blue;
    background-image: url('../../../../../../public/github.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0 0;

    transition: all 0.2s ease-in-out;

    mask-image: url('../../../../../../public/github.png');
    mask-size: cover;

    &:hover {
      cursor: pointer;
      background-color: white;
    }
  }
}
