.sign-in {
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60vw;
    min-width: 220px;
    max-width: 500px;
    padding: 30px;

    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 10px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  &_field {
    width: 80%;
    margin-bottom: 10px;
  }

  &_title {
    user-select: none;

    width: 100%;
    margin-bottom: 20px;

    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
  }

  &_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    margin-top: 20px;
  }

  &_input-error {
    width: max-content;
    font-size: 0.7rem;
    color: oklch(59.98% 0.236 15.45deg);
  }

  input.ng-invalid.ng-touched {
    border: 1px solid oklch(59.98% 0.236 15.45deg);
  }
}

@media screen and (width >= 300px) and (width <= 639.98px) {
  .sign-in {
    &_wrapper {
      width: 90vw;
    }

    &_field {
      width: 100%;
      padding: 0;
    }

    &_buttons {
      width: 100%;
      margin-top: 20px;
    }
  }
}
