<div class="sign-in_wrapper">
  <h2 class="sign-in_title">Sign in</h2>
  <form class="sign-in_form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="sign-in_field">
      <input matInput formControlName="email" placeholder="Email" />
      <mat-error
        class="sign-in_input-error"
        *ngIf="
          signInForm.get('email')?.invalid && signInForm.get('email')?.touched
        "
      >
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="sign-in_field">
      <input
        matInput
        [type]="'password'"
        formControlName="password"
        placeholder="Password"
      />
      <mat-error
        class="sign-in_input-error"
        *ngIf="
          signInForm.get('password')?.invalid &&
          signInForm.get('password')?.touched
        "
      >
        Password must be at least 8 characters long.
      </mat-error>
    </mat-form-field>
    <div class="sign-in_buttons">
      <button mat-flat-button type="submit" class="sign-in_button">
        Sign In
      </button>
      <button mat-button routerLink="/signup" class="sign-in_link">
        Sign Up
      </button>
    </div>
  </form>
</div>
