<div class="d-flex justify-content-center align-items-center content-area">
  <div class="sign-in_wrapper">
    <p class="sign-in_title">Sign in</p>
    <form class="sign-in_form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="sign-in_field">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          formControlName="email"
          [value]="signInForm.controls.email.value | trim"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="sign-in_field">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="'password'"
          formControlName="password"
          placeholder="Password"
          [value]="signInForm.controls.password.value | trim"
          [type]="hide() ? 'password' : 'text'"
        />
        <button type="button" mat-icon-button matSuffix (click)="showHidePassword()">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      @if (
        signInForm.controls['email'].hasError('alreadyLoggedIn') ||
        signInForm.controls['email'].hasError('userNotFound') ||
        signInForm.controls['email'].hasError('invalidEmail') ||
        signInForm.controls['email'].hasError('invalidFields')
      ) {
        <mat-error class="sign-in_input-error">Incorrect email or password</mat-error>
      }
      <div class="sign-in_buttons">
        <TTP-button
          [type]="'submit'"
          [width]="'10vw'"
          [disabled]="signInForm.invalid || isSubmitting"
          [buttonText]="'Sign In'"
        >
        </TTP-button>
        <TTP-button
          class="sign-in_link"
          [type]="'button'"
          [width]="'10vw'"
          (click)="(redirectToSignUp)"
          [buttonText]="'Sign Up'"
        >
        </TTP-button>
      </div>
    </form>
  </div>
</div>
