<div class="sign-in_wrapper">
  <h2 class="sign-in_title">Sign in</h2>
  <form class="sign-in_form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="sign-in_field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" />
      @if (emailErrorMessage) {
        <mat-error class="sign-in_input-error">
          {{ emailErrorMessage }}
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="sign-in_field">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="'password'"
        formControlName="password"
        placeholder="Password"
      />
      @if (passwordErrorMessage) {
        <mat-error class="sign-in_input-error">
          {{ passwordErrorMessage }}
        </mat-error>
      }
    </mat-form-field>
    <div class="sign-in_buttons">
      <button
        mat-flat-button
        type="submit"
        class="sign-in_button"
        [disabled]="signInForm.invalid || isSubmitting"
      >
        {{ signInButtonName }}
      </button>
      <button mat-button routerLink="/auth/signup" class="sign-in_link">
        Sign Up
      </button>
    </div>
  </form>
</div>
