<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="profile_container">
    <p class="profile_title">Sign Up</p>
    <TTP-button [type]="'submit'" [width]="'30vw'" [buttonText]="'Change Password'"></TTP-button>
    <form [formGroup]="profileForm" #editNameTemplate class="profile_form">
      <div class="profile_item">
        <div>Name</div>
        <div class="profile_field">
          <mat-form-field appearance="outline" class="profile_field">
            <input matInput formControlName="name" [value]="userCredentials.name | trim" #inputName />
            @if (profileForm.controls['name'].hasError('required')) {
              <mat-error> Name is required </mat-error>
            }
            @if (profileForm.controls['name'].hasError('minlength')) {
              <mat-error> Name must be at least 3 characters long </mat-error>
            }
            @if (profileForm.controls['name'].hasError('maxlength')) {
              <mat-error> Name cannot exceed 50 characters </mat-error>
            }
          </mat-form-field>
          <div *ngIf="!isEditingName">
            <button mat-icon-button (click)="editName()" aria-label="Edit name" matTooltip="Edit your name">
              <mat-icon [style.color]="editIconColour">edit</mat-icon>
            </button>
          </div>
          <button
            mat-icon-button
            (click)="saveName()"
            aria-label="Save name"
            [disabled]="!profileForm.controls['name'].valid"
            matTooltip="Save your name"
          >
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
      <div class="profile_item">
        <div>Email</div>
        <div class="profile_field">
          <mat-form-field appearance="outline" class="profile_field">
            <input matInput formControlName="email" appearance="outline" [value]="userCredentials.email | trim" />
            @if (profileForm.controls['email'].hasError('required')) {
              <mat-error> Email is required </mat-error>
            }
            @if (profileForm.controls['email'].hasError('pattern')) {
              <mat-error>Invalid email format </mat-error>
            }
          </mat-form-field>
          <button mat-icon-button (click)="editEmail()" aria-label="Edit email" matTooltip="Edit your name">
            <mat-icon [style.color]="editIconColour">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="saveEmail()"
            aria-label="Save email"
            [disabled]="!profileForm.controls['email'].valid"
            matTooltip="Save your name"
          >
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
    </form>
    <TTP-button
      (click)="logoutAndRedirectToHome()"
      [type]="'submit'"
      [width]="'10vw'"
      [buttonText]="'Logout'"
    ></TTP-button>
  </div>
</div>
