.profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;

  background-color: #fff;
  border-radius: 8px;
}

.profile-item {
  margin-bottom: 20px;
  padding: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    width: 48%;
  }
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    margin-left: 10px;
  }
}
