<mat-label
  (click)="clickCheckbox()"
  [attr.for]="seatValue + carriageNameValue"
  class="carriages_seat-label"
  [style.background]="check() ? 'pink' : 'oklch(91.69% 0.0396 269.9781deg)'"
  [style.color]="check() ? 'white' : 'black'"
  >{{ seatValue }}
  <mat-checkbox
    (change)="inspectCheckboxValue($event)"
    id="{{ seatValue + carriageNameValue }}"
    [hidden]="false"
    class="carriages_seat"
    [value]="seatValue"
    [disabled]="false"
    #seatCheckbox
  ></mat-checkbox>
</mat-label>
