@for (leftSeat of [].constructor(leftSeatCount); track index; let index = $index) {
  @if (rowNumber === 0) {
    <TTP-carriage-seat
      [seatValue]="(rowNumber + seatsInRowNumber * rowNumber + index + 1).toString()"
      class="carriage-row_with-seats"
    ></TTP-carriage-seat>
  } @else {
    <TTP-carriage-seat
      [seatValue]="(seatsInRowNumber * rowNumber + index + 1).toString()"
      class="carriage-row_with-seats"
    ></TTP-carriage-seat>
  }
}
<div class="carriage-row_empty"></div>
@for (rightSeat of [].constructor(rightSeatCount); track index; let index = $index) {
  @if (rowNumber === 0) {
    <TTP-carriage-seat
      [seatValue]="(rowNumber + seatsInRowNumber * rowNumber + index + leftSeatCount + 1).toString()"
      class="carriage-row_with-seats"
    ></TTP-carriage-seat>
  } @else {
    <TTP-carriage-seat
      [seatValue]="(seatsInRowNumber * rowNumber + index + leftSeatCount + 1).toString()"
      class="carriage-row_with-seats"
    ></TTP-carriage-seat>
  }
}
