<form [formGroup]="priceForm" class="ride-price_form">
  <div class="ride-price_key-price">
    {{ price.key }}:
    <mat-form-field appearance="outline" class="profile_field">
      <input matInput formControlName="price" [value]="price.value" />
    </mat-form-field>
    @if (editSavePrice()) {
      <button
        mat-icon-button
        (click)="editPrice()"
        aria-label="Edit price"
        class="ride-price_edit-save-button"
        matTooltip="Edit price"
      >
        <mat-icon [style.color]="editIconColour">{{ editSavePrice() ? 'edit' : 'save' }}</mat-icon>
      </button>
    } @else {
      <button
        mat-icon-button
        (click)="savePrice()"
        aria-label="Save price"
        [disabled]="!priceForm.controls['price'].valid"
        matTooltip="Save price"
      >
        <mat-icon>{{ editSavePrice() ? 'edit' : 'save' }}</mat-icon>
      </button>
    }
  </div>
</form>
