<form [formGroup]="priceForm" class="rides_form">
  <div class="rides_key-price">
    {{ price.key }}:{{ price.value }}
    <mat-form-field appearance="outline" class="profile_field">
      <input matInput formControlName="price" [value]="price.value" />
    </mat-form-field>
  </div>
  @if (isEdit) {
    <button
      mat-icon-button
      (click)="editPrice()"
      aria-label="Edit price"
      matTooltip="Edit price"
      class="rides_edit-save-button"
    >
      <mat-icon [style.color]="editIconColour">{{ isEdit ? 'edit' : 'save' }}</mat-icon>
    </button>
  } @else {
    <button
      mat-icon-button
      (click)="savePrice()"
      aria-label="Save price"
      [disabled]="!priceForm.controls['price'].valid"
      matTooltip="Save price"
    >
      <mat-icon>{{ isEdit ? 'edit' : 'save' }}</mat-icon>
    </button>
  }
</form>
