<ng-container *ngIf="rideRoute">
  <form [formGroup]="rideForm" (ngSubmit)="onSubmit()">
    <div formArrayName="schedule">
      <div *ngFor="let sc of scheduleFormControl.controls; let i = index" [formGroupName]="i">
        <legend>
          <h4>Ride {{ rideRoute.schedule[i].rideId }}</h4>
        </legend>

        <fieldset>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Schedule {{ i + 1 }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div formArrayName="segments">
                <div *ngFor="let segment of getSegmentsFormControl(i).controls; let j = index" [formGroupName]="j">
                  <fieldset>
                    <mat-card>
                      <mat-card-header>
                        <mat-card-title>Segment {{ j }}</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <div *ngFor="let priceKey of getPriceKeys(j, i); let k = index">
                          <mat-form-field appearance="fill">
                            <mat-label>{{ priceKey }}</mat-label>
                            <input matInput [formControl]="getPriceControl(j, i, priceKey)" />
                            <mat-error *ngIf="getPriceControl(j, i, priceKey).hasError('required')">
                              "Price is required"
                            </mat-error>
                            <mat-error *ngIf="getPriceControl(j, i, priceKey).hasError('pattern')">
                              'Price is not in correct format'
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </fieldset>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </fieldset>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</ng-container>
