@import '../../../../../../styles';

.ride {
  &_wrapper {
    margin-top: 20px;
  }

  &_buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_route-title {
    font-size: 1.8rem;
    text-align: center;
  }

  &_ride-title {
    font-weight: 800;
  }

  &_table-cell:not(:nth-child(3)) {
    width: 100%;
    min-width: 70px;
    max-width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;

    border: 1px solid #ddd;
    border-radius: 10px;
  }

  &_table-cell:nth-child(3) {
    width: 100%;
    min-width: 70px;
    max-width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &_form-field {
    width: 100%;
    min-width: 70px;

    &.price {
      width: 80%;
    }
  }

  &_form-input {
    width: 80%;
    min-width: 70px;
  }

  &_table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    width: 80%;
    margin: 0 auto;
  }

  &_city-column {
    width: 100%;
    min-width: 70px;
    max-width: 350px;
    padding: 10px;

    font-weight: 800;
    color: $deep-blue;
  }

  &_time-column {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    min-width: 70px;
    max-width: 350px;
    padding: 10px;
  }

  &_price-column {
    position: relative;
    top: 100px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    min-width: 70px;
    max-width: 350px;
    margin-top: 50px;
    padding: 10px;
  }

  &_card-title {
    margin-right: 10px;
    font-weight: 800;
  }
}

.table-header {
  display: contents;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.mat-mdc-card-header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  font-size: bold;
  color: #005cbb;
}

.table-cell.title {
  border: 1px solid #ccc;
}

.table-row {
  display: contents;
  text-align: center;
}

.mat-mdc-card {
  padding-bottom: 10px;
  background-color: transparent !important;
}

@media screen and (width >= 650px) and (width <= 1000px) {
  .ride {
    font-size: 0.7rem;

    &_table-container {
      width: 80%;
    }

    &_city-column {
      padding: 5px;
    }

    &_time-column {
      padding: 5px;
    }

    &_price-column {
      padding: 5px;
    }
  }
}

@media screen and (width >= 650px) and (width <= 850px) {
  .ride {
    &_form-field {
      &.price {
        width: 70%;
      }
    }
  }
}

@media screen and (width >= 300px) and (width <= 649.98px) {
  .ride {
    font-size: 0.4rem;

    &_table-container {
      gap: 5px;
      width: 96%;
    }

    &_city-column {
      padding: 2px;
    }

    &_time-column {
      padding: 2px;
    }

    &_price-column {
      padding: 2px;
    }

    &_form-field {
      padding-left: 5px;

      &.price {
        width: 100%;
      }
    }
  }

  ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field {
    padding-left: 5px;
  }
}
