header {
  background: #d4e9ff;
  border-bottom: 1px solid rgb(0 92 187 / 50%);
}

.home-button {
  &_logo-img {
    aspect-ratio: 1 / 1;
    width: 5vw;
    min-width: 40px;
    max-width: 70px;
    margin-right: 8px;
  }

  &_description {
    font-size: 1.2rem;
    font-weight: 500;
    color: #005cbb;
  }
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;

  font-size: 50px;

  background: none;
  border: none;

  &_icon {
    font-size: 50px;
  }
}
