<div class="home_wrapper container-xl">
  <p class="home_title" [style.color]="'oklch(49.71% 0.165 259.85deg)'">Pick trip parameters</p>
  <form class="home_form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="home_inputs-wrapper">
      <mat-form-field appearance="outline" class="home_form-input" formControlName="from"
        ><mat-label>From...</mat-label>
        @if (searchForm.controls.from) {
          <input matInput placeholder="From" formControlName="from" [value]="searchForm.controls.from.value" />
        }
        <mat-hint>Departure station</mat-hint><mat-icon matSuffix>store</mat-icon></mat-form-field
      >
      <!-- @if (searchForm.controls.from.touched && searchForm.controls.from.invalid) {
        <div class="sign-up_input-error">
          @if (searchForm.controls.from.errors?.['required']) {
            <mat-error>From required</mat-error>
          }
        </div>
      } -->
      <mat-form-field appearance="outline" class="home_form-input" formControlName="to"
        ><mat-label>To...</mat-label>
        @if (searchForm.controls.to) {
          <input matInput placeholder="To" formControlName="to" [value]="searchForm.controls.to.value" />
        }
        <mat-hint>Arrival station</mat-hint><mat-icon matSuffix>castle</mat-icon></mat-form-field
      >
      <mat-form-field appearance="outline" class="home_form-input" formControlName="date"
        ><mat-label>Choose a date...</mat-label><input matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <TTP-button
      (click)="searchCarriages()"
      [type]="'button'"
      [width]="'10vw'"
      [buttonText]="'Carriage'"
      class="home_carriage-button"
      [disabled]="!searchForm.controls.from.valid && !searchForm.controls.to.valid && !searchForm.controls.date.valid"
    ></TTP-button>
  </form>
  <TTP-button
    (click)="searchTrips()"
    [type]="'submit'"
    [width]="'10vw'"
    [buttonText]="'Search' | uppercase"
    class="home_search-button"
    [disabled]="!searchForm.valid"
  ></TTP-button>
</div>
