.home {
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    font-weight: 800;
  }

  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_inputs-wrapper {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &_carriage-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &_search-button {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &_form-input {
    width: 20vw;
    min-width: 200px;
    max-width: 300px;
  }

  &_carriages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &_carriage-row {
    z-index: 10;
    display: flex;
  }

  &_carriage-shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;

    width: 254px;
    height: 640px;
    padding: 10px;

    background-image: url('../../../../../../public/ticket_ttp_vertical_opacity.png');
    background-size: contain;
    border-radius: 5px;
  }
}

@media screen and (width >= 300px) and (width <= 860px) {
  .home {
    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &_inputs-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
