<ng-container *ngIf="tripInfo">
  <div class="home-ride_wrapper container-xl">
    <div class="home-ride_trip">
      <a class="home-ride_trip-detail-part" matTooltip="click Details for info and order">
        <div class="home-ride_trip-header">
          <TTP-button
            [type]="'button'"
            [width]="'10vw'"
            [buttonText]="'Details'"
            class="home-ride_trip-button"
            (click)="pickTripDetails()"
          ></TTP-button>
        </div>
        <div class="home-ride_trip-time">
          <div class="home-ride_trip-time start">{{ tripInfo.departure | date: 'shortTime' : '+0000' }}</div>
          <div class="home-ride_trip-total-time-line">
            <mat-icon class="home-ride_trip-time-icon" [style.color]="'oklch(49.71% 0.165 259.85deg)'"
              >radio_button_unchecked</mat-icon
            >
            <div class="home-ride_trip-line left"></div>
            <div class="home-ride_trip-total-time">{{ tripInfo.totalTime }}</div>
            <div class="home-ride_trip-line right"></div>
            <mat-icon class="home-ride_trip-time-icon" [style.color]="'oklch(49.71% 0.165 259.85deg)'"
              >radio_button_checked</mat-icon
            >
          </div>
          <div class="home-ride_trip-time end">{{ tripInfo.arrival | date: 'shortTime' : '+0000' }}</div>
        </div>
        <div class="home-ride_trip-info">
          <div class="home-ride_trip-details start">
            <div class="home-ride_trip-date">{{ tripInfo.departure | date: 'MMMM dd' : '+0000' }}</div>
            <div class="home-ride_trip-station">{{ tripInfo.departureStation.name }}</div>
          </div>
          <div class="home-ride_trip-details end">
            <div class="home-ride_trip-date">{{ tripInfo.arrival | date: 'MMMM dd' : '+0000' }}</div>
            <div class="home-ride_trip-station">{{ tripInfo.arrivalStation.name }}</div>
          </div>
        </div>
      </a>
      <div class="home-ride_trip-from-to">
        <mat-icon>train</mat-icon> {{ tripInfo.departureStation.name }} <mat-icon>trending_flat</mat-icon>
        {{ tripInfo.arrivalStation.name }}
      </div>
      <TTP-button
        [type]="'button'"
        [width]="'10vw'"
        [buttonText]="'Route'"
        class="home-ride_route-button"
        (click)="openRouteModal()"
      ></TTP-button>
      <div class="home-ride_trip-carriages">
        @for (carriage of testCarriages; track carriage.code) {
          <div class="home-ride_trip-carriage-details">
            <div class="home-ride_trip-carriage-type">{{ carriage.name }}: (number of seats here) seats</div>
            <div class="home-ride_trip-carriage-price">500$</div>
          </div>
        }
      </div>
    </div>
  </div>
</ng-container>
