.orders {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  &_users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  &_users-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  &_user-detail {
    display: flex;
    align-items: center;
    justify-content: center;

    &.id {
      width: 15%;
    }

    &.name {
      width: 25%;
    }

    &.email {
      width: 35%;
    }

    &.role {
      width: 15%;
    }
  }

  &_users-title {
    font-weight: 800;
    text-align: center;
  }
}
