.stations {
  width: 600px;
  margin: 0 auto;
  padding: 1rem;

  .station-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
