<div class="sign-up_wrapper">
  <p class="sign-up_title">{{ formTitle }}</p>
  <form class="sign-up_form" (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <mat-form-field appearance="outline" class="sign-up_field">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email..." formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="sign-up_field">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password..." formControlName="password" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="sign-up_field">
      <mat-label>Repeat Password</mat-label>
      <input matInput placeholder="repeat password..." />
    </mat-form-field>
    @if (
      passwordFormControl.touched &&
      repeatPasswordFormControl.touched &&
      passwordFormControl !== repeatPasswordFormControl
    ) {
      <div class="alert alert-danger">
        <div>Passwords don't match</div>
      </div>
    }
    <div class="sign-up_buttons">
      <TTP-button
        [type]="'submit'"
        [width]="'100px'"
        [disabled]="!signUpForm.valid"
        >{{ signUpButtonName }}</TTP-button
      >
      <TTP-button
        [type]="'button'"
        [width]="'100px'"
        (click)="(redirectToSignIn)"
        [disabled]="false"
        >{{ signInButtonName }}</TTP-button
      >
    </div>
  </form>
</div>
