<div class="sign-up_wrapper">
  <form class="sign-up_form" (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <p class="sign-up_title">{{ formTitle }}</p>
    <mat-form-field appearance="outline" class="sign-up_field">
      <mat-label>Email</mat-label>
      <input #input matInput placeholder="email..." formControlName="email" />
    </mat-form-field>
    <!-- @if (signUpForm.controls["email"].hasError("invalidUniqueKey")) {
      <div class="sign-up_input-error">
        Account with this email already exists
      </div>
    } -->
    <mat-form-field appearance="outline" class="sign-up_field">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="password..."
        formControlName="password"
        type="password"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="sign-up_field">
      <mat-label>Repeat Password</mat-label>
      <input
        matInput
        placeholder="repeat password..."
        formControlName="repeatPassword"
        type="password"
      />
    </mat-form-field>
    @if (
      signUpForm.controls.repeatPassword.touched &&
      signUpForm.controls.repeatPassword.invalid
    ) {
      <div class="sign-up_input-error">
        @if (signUpForm.controls.repeatPassword.errors?.["passwordMismatch"]) {
          <div>Passwords don't match</div>
        }
      </div>
    }
    <div class="sign-up_buttons">
      <TTP-button
        [type]="'submit'"
        [width]="'100px'"
        [disabled]="!signUpForm.valid"
        [buttonText]="'Register'"
      ></TTP-button>
      <TTP-button
        [type]="'button'"
        [width]="'100px'"
        (click)="(redirectToSignIn)"
        [disabled]="false"
        [buttonText]="'Sign In'"
      ></TTP-button>
    </div>
  </form>
</div>
