@import '../../../../../styles';

.carriages-carousel {
  &_carriage-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 10px;

    text-align: center;

    transition: all 0.2s ease-in-out;

    @include border-frame;

    &:hover {
      cursor: pointer;
      background-color: $light-blue;
    }
  }

  &_carriages-types {
    margin-bottom: 10px;
  }

  &_carriage-seats {
    margin-bottom: 5px;
  }

  &_carriage-price {
    margin-bottom: 5px;
  }
}
