@import '../../../styles';

.arrow-top {
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &_icon-button {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 48px;
    max-width: 48px;

    color: white;

    background-color: $deep-blue;
    border: none;
    border-radius: 50%;
  }
}
