@import '../../../styles';

.arrow-top {
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &_icon-button {
    position: absolute;
    color: white;
    background-color: $deep-blue;
    border-radius: 50%;
  }
}
