.route-popup {
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  &_detail {
    text-align: center;

    &.time {
      width: 20%;
    }

    &.line {
      width: 10%;
    }

    &.station {
      width: 35%;
    }

    &.stop {
      width: 35%;
    }
  }
}
